<!DOCTYPE html>
<html>
	<head>
		<title>Библиотека</title>
		<meta charset="utf-8">
	</head>
	<body>
		<table border="2">
			<caption>Книги в наличии</caption>
				<thead>
					<tr>
						<th>Название</th>
						<th>Автор</th>
						<th>Год издания</th>
						<th>Цена</th>
					</tr>
				</thead>
				<tbody>
					{% for book in books%}
					<tr>
						<td>{{ book.title }}</td>
						<td>{{ book.author }}</td>
						<td>{{ book.publication_year }}</td>
						<td>{{ book.price }}</td>
					</tr>
					{% empty %}
					<p>Нет доступных книг</p>	
					{% endfor %}
				</tbody>
		</table>
	</body>
</html>
